* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  /* Remove list styles */
  ul,
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Remove default anchor styles */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Reset heading margins */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

.newsContainer a{
    display: flex;
}

.newsContainer .newsCard{
    background-color: gray;
    border-radius: 0.75rem;
    width: 100%;
    height: auto;
    cursor: pointer;
    background-color: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
    transition: all .3s ease;
    padding: 20px 30px;
}

.newsContainer .newsCard .newsArticle{
    min-height: 200px;
    margin-bottom: 40px;
}

.newsContainer .newsCard .newsTitle{
    color: #207ABF;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 3.6em;
    text-overflow: ellipsis;
}

.newsContainer .newsCard .newsText{
    color: #3c3852;
    font-size: .86rem;
    margin-top: 16px;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 3.6em;
    text-overflow: ellipsis;
}

.newsContainer .newsCard .newsDate{
    margin-top: 16px;
}

.newsContainer .newsCard .newsArrow {
    position: absolute;
    background: rgba(10, 81, 115, 0.9);
    padding: 1rem;
    border-top-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: auto;

}

.newsCard svg {
    transition: 0.2s;
}

.newsCard:hover .newsArrow {
    background: #111;
    opacity: .9;
}

@media screen and (min-width: 10px) and (max-width: 768px) {
    .newsContainer .newsCard{
        margin-bottom: 16px;
    }
}